<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <link rel="stylesheet" type="text/css" href="static/css/aboutus.css">
  <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/carousel/">

  <style>
    body {
      padding-top: 3.5rem;
    }

    nav {
      font-family: sans-serif;
    }

    .navbar-brand {
      font-size: 20px;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
  </style>

</head>

<body>
  <form id="form1">
    <header>
      <!--Navigation Bar-->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#"><b>TIMETABLE GENERATOR</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'admindash' %}">Get Started</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'addInstructors' %}">Add Teachers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'addRooms' %}">Add Rooms</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'addTimings' %}">Add Timings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'addCourses' %}">Add Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'addDepts' %}">Add Departments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'addSections' %}">Add Sections</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'generate' %}">Generate Timetable</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
    <script src="../assets/dist/js/bootstrap.bundle.js"></script>

  </form>
</body>

</html>